.main {
	max-width: 1300px;
	padding: 0 15px;
	margin: 0 auto;
	background-color: #fff;

	.box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 45px 45px;
		.title {
			font-size: 32px;
			font-weight: 700;
		}

		.inputBox {
			display: flex;
			align-items: center;
			gap: 0 10px;
		}
	}
}

.error {
	font-size: 26px;
	text-align: center;
	padding-bottom: 30px;
}
